<div
  class="side-menu"
  [ngClass]="{
    vertical: selected === 'Vertically',
    horizontal: selected === 'Horizontally'
  }"
>
  <div class="side-menu__container">
    <div class="side-menu__title">filter</div>
    <div class="side-menu__selectors">
      @if (isSmallScreen === false) {
      <div class="side-menu__select">
        <h4 class="side-menu__select-title">Select filter display</h4>
        <mat-form-field>
          <mat-label>Filter display</mat-label>
          <mat-select
            [(value)]="selected"
            (selectionChange)="onSelectionChange($event)"
          >
            @for (filter of filterDisplay; track filter) {
            <mat-option [value]="filter.value">{{
              filter.viewValue
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }
      <div class="side-menu__select">
        <h4 class="side-menu__select-title">Select a category</h4>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select
            [(value)]="selectedCategory"
            (selectionChange)="onCategoryChange($event)"
          >
            @for (category of categories; track category) {
            <mat-option [value]="category.value">{{
              category.viewValue
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="side-menu__select">
        <h4 class="side-menu__select-title">Select a sort filter</h4>
        <mat-form-field>
          <mat-label>Sort filter</mat-label>
          <mat-select
            [(value)]="selectedSortFilter"
            (selectionChange)="onSortFilterChange($event)"
          >
            @for (sort of sortFilter; track sort) {
            <mat-option [value]="sort.value">{{ sort.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
