.side-menu {
  max-width: 300px;
  min-width: 100px;
  width: 600px;
  height: 100%;
  box-sizing: border-box;

  &.horizontal {
    max-width: 100%;
    min-width: 320px;
    width: 100%;
    height: 200px;
  }

  &__container {
    width: 100%;
    position: sticky;
    top: 70px;
    background-color: rgba(45, 0, 77, 0.2);
    border: 1px solid rgba(84, 15, 133, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(84, 15, 133, 0.8);
    gap: 3px;
    transition: transform 0.5s;
  }

  &.horizontal &__container {
    height: 200px;
    position: static;
    align-items: center;
    padding: 10px 5px 40px 5px;
    flex-direction: column;
    gap: 5px;
  }

  &.horizontal &__selectors {
    display: flex;
    gap: 20px;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }

  // &.horizontal &__title {
  //   height: 100%;
  // }

  &__select {
    margin-top: 10px;
  }

  &__select-title {
    margin-bottom: 10px;
    font-weight: 400;
  }
}

mat-form-field {
  border-radius: 10px;
  overflow: hidden;
  background-color: #e0e2ec;
}
