.footer {
  max-width: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 100px;
  max-height: 300px;
  border-top: 0.5px solid var(--shadow-head);

  &__container {
    max-width: 1050px;
    min-width: 320px;
    min-height: 100px;
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
    transition: 0.1s 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  &__logo-title {
    background: rgb(131, 58, 180);
    background: var(--gradient);
    padding: 9px;
    box-sizing: border-box;
    border-radius: 15%;
    color: var(--head-back);
  }

  &__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 240px;
    gap: 10px;
    margin: 10px 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }

  &__list-title {
    font-size: 20px;
    font-weight: 500;
  }

  &__list-item {
    font-size: 18px;
    cursor: pointer;
    color: var(--header-text-color);
  }

  &__list-item:hover {
    color: var(--text-color);
    transition: 0.5s;
  }

  &__button {
    width: 100px;
    height: 50px;
    background-color: var(--footer-button);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    &__container {
      max-width: 700px;
    }
    &__lists {
      justify-content: space-around;
      width: 330px;
    }
  }

  @media (max-width: 800px) {
    &__container {
      justify-content: space-around;
    }
    &__lists {
      width: 250px;
    }
    &__list-title {
      font-size: 18px;
    }
    &__list-item {
      font-size: 16px;
    }
  }

  @media (max-width: 400px) {
    &__lists {
      width: 200px;
    }
  }
}

.mat-icon {
  height: 40px;
  width: 40px;
}

.material-icons {
  font-size: 40px;
}
