<div class="comment">
  <div class="comment__header">
    <span
      ><img [src]="avatarLink" alt="" class="comment__header-avatar" />
      <div class="comment__header-name">{{ name }}</div>
      <div class="comment__header-time">{{ data | dateToYYYYMMDD }}</div></span
    >
    @if(userId === commentAuthorId) {
    <div class="comment__header-delete-button" (click)="onClick()">
      <mat-icon>delete</mat-icon>Delete
    </div>
    }
  </div>
  <div class="comment__body" [innerHTML]="text"></div>
</div>
