<div class="header-block">
  <div class="header">
    <div class="header__container">
      <div class="header__logo" [routerLink]="['/']">
        <span class="header__logo-title"> NE </span>
      </div>
      <div class="header__menu">
        <div class="header__routes">
          <div class="header__main-button header__buttons" [routerLink]="['/']">
            <mat-icon
              style="
                font-size: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              >home</mat-icon
            >
            <span>Main</span>
          </div>
          <div
            class="header__articles-button header__buttons"
            [routerLink]="['/articles']"
          >
            <mat-icon
              style="
                font-size: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              >article</mat-icon
            >
            <span>Articles</span>
          </div>
          <div class="header__about-us-button header__buttons">
            <mat-icon
              style="
                font-size: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              >person</mat-icon
            >
            <span>About</span>
          </div>
        </div>
        <!-- <div class="header__theme" (click)="themeToggle()">
          @if (themeModeForSite === 'light') {
          <mat-icon>sunny</mat-icon>
          } @else if(themeModeForSite === 'dark') {
          <mat-icon style="color: gray">dark_mode</mat-icon>
          }
        </div> -->
        <div class="header__mobile-toogle-menu" (click)="mobileMenuToggle()">
          @if (isMenuClose) {
          <mat-icon>menu</mat-icon>
          } @else {
          <mat-icon>close</mat-icon>
          }
        </div>
      </div>
      <div class="header__mobile-menu">
        <div class="header__mobile-routes">
          <div
            class="header__mobile-main-button"
            [routerLink]="['/']"
            (click)="mobileMenuToggle()"
          >
            Main
          </div>
          <div
            class="header__mobile-articles-button"
            [routerLink]="['/articles']"
            (click)="mobileMenuToggle()"
          >
            Articles
          </div>
          <div class="header__mobile-about-us-button">About</div>
        </div>
        <!-- <div class="header__mobile-theme" (click)="themeToggle()">
          @if (themeModeForSite === 'light') {
          <mat-icon>sunny</mat-icon>
          } @else if(themeModeForSite === 'dark') {
          <mat-icon style="color: gray">dark_mode</mat-icon>
          }
        </div> -->
      </div>
    </div>
  </div>
</div>
