.popular-articles {
  margin-top: 70px;
  max-width: 100%;
  width: 100%;
  min-width: 320px;

  &__container {
    max-width: 1050px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
  }

  &__not-auth {
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  @media (max-width: 1200px) {
    &__container {
      max-width: 700px;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__block {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
