<div class="popular-articles">
  <div class="popular-articles__container">
    <div class="popular-articles__title">Popular Articles</div>
    @if (isAuth$ | async) {
    <div class="popular-articles__block" [ngClass]="{ ' gap ': this.isEmpty }">
      <div class="popular-articles__block-box">
        @for (item of firstGroup; track item) {
        <app-article-card class="item" [data]="item"></app-article-card>
        }
      </div>
      <div class="popular-articles__block-box">
        @for (item of secondGroup; track item) {
        <app-article-card class="item" [data]="item"></app-article-card>
        } @if (isEmpty) {
        <div class="popular-articles__empty">
          <div class="popular-articles__empty-text">EMPTY</div>
        </div>
        }
      </div>
    </div>
    } @else {
    <div class="popular-articles__not-auth">
      <div class="popular-articles__not-auth-text">Please Sign Up</div>
    </div>
    }
  </div>
</div>
