<div class="popular-articles">
  <div class="popular-articles__container">
    <div class="popular-articles__not-auth"></div>

    <div class="popular-articles__title">Popular Articles</div>
    <div class="popular-articles__block">
      <div class="popular-articles__block-box">
        <app-article-card class="item"></app-article-card>
        <app-article-card class="item"></app-article-card>
      </div>
      <div class="popular-articles__block-box">
        <app-article-card class="item"></app-article-card>
        <app-article-card class="item"></app-article-card>
      </div>
    </div>
  </div>
</div>
