<div class="articles-wrapper">
  <div class="articles-wrapper__container">
    <app-search (search)="changeSearchString($event)"></app-search>
    <div
      class="articles-wrapper__block"
      [ngClass]="{
        vertical: message === 'Vertically',
        horizontal: message === 'Horizontally'
      }"
    >
      <app-posts
        style="flex: 1"
        [(searchString)]="searchString"
        class="first-item"
        [filterDisplay]="message"
      ></app-posts>
      <app-side-menu
        (notify)="handleNotification($event)"
        class="second-item"
      ></app-side-menu>
    </div>
  </div>
</div>
