<div class="posts">
  <div class="posts__container">
    @if(isLoading) {
    <div class="posts__loading">Loading...</div>
    } @else { @if (isEmpty === true) {
    <div class="posts__loading">Empty</div>
    } @else { @for (item of data; track item.id) {
    <app-post [post]="item"></app-post>
    } } @if(pageCountArray.length > 1) {
    <div class="posts__pagination">
      @for (item of pageCountArray; track item) {
      <div class="posts__pagination-button" (click)="clickOnPageNumber(item)">
        {{ item }}
      </div>
      }
    </div>
    }}
  </div>
</div>
