.main {
  max-width: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
  height: 700px;
  padding-top: 130px;
  background: var(--main-gradient-back);
  background: var(--main-gradient);
  box-sizing: border-box;
  transition: 0.5s;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    min-width: 320px;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    background: var(--shadow-for-main);
    transition: 0.5s;
    bottom: -69px;
  }

  &__image-element {
    position: relative;
    top: -20px;
    height: 300px;
    z-index: 50;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px;
  }

  &__title {
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &__text {
    text-align: center;
    margin-bottom: 3px;
    font-weight: 500;
    max-width: 1600px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(3);
    height: 1px;
    background-image: var(--line-gradient);
    background-repeat: repeat-x;
    background-size: 5px 100%;
    -webkit-mask-image: var(--mask-gradient);
    bottom: 0;
    width: 0;
    animation: line-animation 1s forwards;
  }

  &__text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(3);
    height: 1px;
    background-image: var(--line-gradient);
    background-repeat: repeat-x;
    background-size: 5px 100%;
    -webkit-mask-image: var(--mask-gradient);
    top: 0;
    animation: line-animation 1s forwards;
    width: 0;
  }

  @keyframes line-animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
      width: 100%;
    }
  }

  // &__button {
  //   display: flex;
  //   justify-content: center;
  //   gap: 3px;
  //   background: rgb(131, 58, 180);
  //   background: var(--gradient);
  //   padding: 10px;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   transition: box-shadow 0.2s, transform 0.5s;
  //   color: white;
  // }
  // &__button:hover {
  //   transition: box-shadow 0.2s, transform 0.5s;
  //   box-shadow: -2px 2px 5px var(--shadow-head);
  //   transform: translate(2px, -2px);
  // }
}

@media (max-width: 1200px) {
  .main {
    padding-top: 40px;
    height: 810px;

    &__container {
      flex-direction: column;
      padding: 0 20px;
    }

    &__image-element {
      margin: 0 auto;
      margin-top: 70px;
    }

    &__text-block {
      margin: 0 auto;
      margin-bottom: 10px;
      max-width: 740px;
    }
  }
}

@media (max-width: 900px) {
  .main {
    &__text-block {
      max-width: 600px;
    }
  }
}

@media (max-width: 780px) {
  .main {
    &__text-block {
      max-width: 550px;
    }
    &__title {
      font-size: 30px;
    }
    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 370px) {
  .main {
    &__container {
      padding: 0;
    }
    &__text {
      font-size: 12px;
    }
  }
}
