<div class="main">
  <div class="main__container">
    <div class="main__text-block">
      <div class="main__title">
        Welcome friend <span><mat-icon>waving_hand</mat-icon></span>
      </div>
      <div class="main__block">
        <div class="main__text">
          Share your thoughts. Discover new ideas. Join a community where your
          voice matters. Write articles, explore trending posts, and connect
          with others through stories that inspire. Dive into the conversation —
          your next idea starts here.
        </div>
        <app-base-button [routerLink]="['/articles']">
          Articles <mat-icon>arrow_forward</mat-icon>
        </app-base-button>
      </div>
    </div>
    <div class="main__image-element">
      <app-cube></app-cube>
    </div>
  </div>
</div>
