.post {
  background-color: rgba(50, 15, 133, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  gap: 8px;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }

  &__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__image img {
    // height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    display: flex;
    @media (max-width: 340px) {
      & {
        text-align: center;
      }
    }
  }

  &__meta-bar {
    display: flex;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
  }

  &__meta-bar span {
    color: gray;
    transition: 0.5s;
  }

  &__meta-bar span:hover {
    color: white;
    transition: 0.5s;
  }

  &__about {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
    max-height: calc(1.5em * 3);
    transition: 0.5s;
  }

  &__about:hover {
    color: white;
    transition: 0.5s;
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  &__views {
    position: relative;
    top: -3px;
    display: flex;
    gap: 5px;
  }

  mat-icon {
    transition: 0.25s ease-in-out;
    color: white;
    cursor: pointer;
  }

  mat-icon:hover {
    transition: 0.25s;
    color: gray;
    transform: scale(0.95);
  }
}
