<div class="contacts">
  <div class="contacts__container">
    <div class="contacts__circle"></div>
    <div class="contacts__title">Contacts</div>
    <div class="contacts__cards">
      <div class="contacts__card-container-L" #leftCards>
        <app-card
          image="unnamed.png"
          class="contacts__card-L"
          title="Gmail"
        ></app-card>
      </div>
      <div class="contacts__card-container-R" #rightCards>
        <app-card
          image="unnamed.png"
          class="contacts__card-R"
          title="Github"
        ></app-card>
      </div>
      <div class="contacts__card-container-L" #leftCards>
        <app-card
          image="unnamed.png"
          class="contacts__card-L"
          title="Discord"
        ></app-card>
      </div>
      <div class="contacts__card-container-R" #rightCards>
        <app-card
          image="unnamed.png"
          class="contacts__card-R"
          title="Telegram"
        ></app-card>
      </div>
    </div>
  </div>
</div>
