.search {
  &__wrapper {
    width: 100%;
    height: 50px;
    background-color: rgba(50, 15, 133, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 15px;

    & > span {
      font-size: 26px;
      position: relative;
      display: flex;
      align-items: center;
      line-height: 1;
    }
  }

  &__block {
    width: 50%;
    height: 70%;
    position: relative;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;

    & > input {
      width: 100%;
      height: 100%;
      font-size: 20px;
      border-radius: 15px;
      box-sizing: border-box;
      border: none;
      padding: 10px;
    }

    & > input:focus {
      outline: none;
    }
  }

  &__icon {
    align-self: center;
    color: black;
  }
}
