.stack {
  padding-top: 195px;
  max-width: 100%;
  width: 100%;
  min-width: 320px;

  &__container {
    max-width: 1050px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__title {
    font-size: clamp(8vw, 5vw + 2.5rem, 10vw);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    white-space: nowrap;
    color: #fff;
  }
}

// @media (min-width: 1600px) {
//   .stack__title {
//     font-size: 5vw;
//   }
// }

// @media (min-width: 2700px) {
//   .stack__title {
//     font-size: 3vw;
//   }
// }

// @media (min-width: 1200px) {
//   .stack__title {
//     font-size: 8vw;
//   }
// }

// @media (max-width: 800px) {
//   .stack__title {
//     font-size: 11vw;
//   }
// }

// @media (min-width: 1024px) {
//   .stack__title {
//     font-size: 9.5vw;
//   }
// }

// @media (min-width: 1440px) {
//   .stack__title {
//     font-size: 7vw;
//   }
// }

// @media (min-width: 2100px) {
//   .stack__title {
//     font-size: 4vw;
//   }
// }

// @media (max-width: 480px) {
//   .stack__title {
//     font-size: 10vw;
//   }
// }
