<div class="login-form">
  <form action="">
    <div class="login-form__title">Login</div>
    <div class="login-form__inputBox inputBox">
      <input type="text" required />
      <label>Email:</label>
    </div>
    <div class="login-form__inputBox inputBox">
      <input type="password" required />
      <label>Password:</label>
    </div>
    <div class="login-form__buttonBox">
      <button>Submit</button>
    </div>
    <div class="login-form__options">
      <div class="login-form__forgot-password">
        <span>Forgot your password?</span>
        <div>Forgot your password?</div>
      </div>
      <div class="login-form__sign-up-button">
        <span (click)="activate()">Sign Up</span>
        <div>Sign Up</div>
      </div>
    </div>
  </form>
</div>
