.header {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  position: relative;
  transform: translateY(-100px);
  height: 64px;
  user-select: none;
  background-color: var(--head-back);
  transition: 0.5s;
  border-bottom: 0.5px solid var(--shadow-head);
  z-index: 100 !important;

  &.normal {
    transform: none !important;
  }

  &.show-header {
    transition: 0.5s 0.1s;
    box-shadow: 0px 2px 5px var(--shadow-head);
  }

  &.hide-header {
    transform: translateY(-90px) !important;
    transition: 0.5s 0.1s;
  }

  &-block {
    width: 100%;
    height: 64px;
    background-color: var(--background-color);
    transition: 0.5s;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1050px;
    min-width: 320px;
    margin: 0 auto;
  }

  &__logo {
    cursor: pointer;
    font-size: 25px;
    // padding-bottom: 3px;
    font-weight: 700;
    transition: 0.1s 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  &__logo-title {
    background: rgb(131, 58, 180);
    background: var(--gradient);
    padding: 6px;
    border-radius: 15%;
    color: var(--head-back);
  }

  &__routes {
    display: flex;
    max-width: 300px;
    width: 300px;
    min-width: 221px;
    align-items: center;
    justify-content: space-between;
    color: var(--header-text-color);
  }

  &__menu {
    display: flex;
    gap: 30px;
  }

  &__routes > div {
    transition: 0.5s;
    cursor: pointer;
  }

  &__routes > div:hover {
    color: var(--text-color);
    transition: 1s;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__buttons.active {
    color: var(--text-color);
  }

  &__theme {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mobile-toogle-menu {
    display: none;
    transition: 0.5s;
  }

  @media (max-width: 1200px) {
    &__container {
      max-width: 700px;
    }
  }

  @media (max-width: 720px) {
    &__container {
      padding: 0 20px;
    }
    &__mobile-toogle-menu {
      padding-right: 6px;
    }
  }

  @media (max-width: 450px) {
    &__container {
      margin: 0;
    }
    &__mobile-toogle-menu {
      padding-right: 0;
    }
  }
  @media (max-width: 345px) {
    &__container {
      justify-content: space-around;
      padding: 0;
    }
  }

  @media (max-width: 720px) {
    &__routes {
      width: 221px;
    }
    &__mobile-toogle-menu {
      display: block;
      font-size: 40px;
    }
    &__routes {
      display: none;
    }
    &__theme {
      display: none;
    }
    mat-icon {
      transform: scale(2);
    }

    &__mobile-theme > mat-icon {
      transform: scale(2);
    }
  }
  &__mobile-menu {
    position: absolute;
    right: 0;
    top: 66px;
    max-width: 100%;
    width: 100%;
    min-width: 320px;
    height: 100%;
    z-index: 5;
    user-select: none;
    background-color: var(--background-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    display: none;
    overflow: hidden;
    position: fixed;
    transition: 0.5s;
    color: var(--header-text-color);
  }

  &__mobile-menu.show {
    display: block;
    animation: menu 0.5s;
  }

  &__mobile-routes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
  }

  &__mobile-routes > div {
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  &__mobile-routes > div:hover {
    color: var(--text-color);
    transition: 0.5s;
  }

  &__mobile-theme {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    // transition: 0.5s;
    color: var(--text-color);
  }

  @media (min-width: 700px) {
    &__mobile-menu.show {
      display: none;
    }
  }

  @keyframes menu {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(2px);
    }
  }

  .account_button {
    position: relative;

    &__menu {
      transition: 0.5s;
      box-sizing: border-box;
      position: absolute;
      top: 32px;
      right: 0px;
      width: 100px;
      background-color: var(--head-back);
      border: 1px solid var(--card-shadow);
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3px;
      padding-bottom: 5px;
      opacity: 0;
    }

    &:hover > .account_button__menu {
      transition: 0.5s;
      opacity: 0.9;
      visibility: visible;
    }

    &__menu > div {
      color: gray;
      transition: 0.5s;
    }

    &__menu > div:hover {
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .mobile_account_button {
    position: relative;

    &__menu {
      position: absolute;
      width: 200px;
      top: 70px;
      display: flex;
      opacity: 0;
      transition: 0.5s;
      visibility: visible;
      flex-direction: column;
      align-items: center;
      border: none;
      background-color: var(--head-back);
      padding-top: 3px;
      padding-bottom: 5px;
    }

    &__menu > div {
      color: gray;
      transition: 0.5s;
    }

    &__menu > div:hover {
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }

    &__menu.active {
      transition: 0.5s;
      opacity: 1;
      visibility: visible;
      border: 1px solid var(--card-shadow);
    }
  }
}

mat-icon {
  transform: scale(1.4);
}
