<div class="post-post-page">
  <div class="post-page__container">
    <div class="post-page__content-block">
      <div class="post-page__header">
        <div class="post-page__header-bar header-bar">
          <mat-icon class="post-page__back" [routerLink]="['/articles']"
            >arrow_back</mat-icon
          >
          <div class="header-bar__meta">
            <div class="header-bar__category">
              Category: <span>{{ data?.category }}</span>
            </div>
            <div class="header-bar__date">
              Date of creation:
              <span>{{ data?.createdAt | dateToYYYYMMDD }}</span>
            </div>
            <div class="header-bar__author">
              Author: <span>{{ data?.authorName }}</span>
            </div>
          </div>
        </div>
        <div class="post-page__title">{{ data?.title }}</div>
      </div>
      <div class="post-page__body" [innerHTML]="data?.body"></div>
    </div>

    <div class="post-page__action-bar action-bar">
      <div class="action-bar__like" [class.active]="liked">
        <span (click)="setLike()"><mat-icon>thumb_up</mat-icon></span>
        <div class="action-bar__like-count">{{ data?.likes }}</div>
      </div>
      <div class="action-bar__dislike" [class.active]="disliked">
        <span (click)="setDislike()"><mat-icon>thumb_down </mat-icon></span>
        <div class="action-bar__dislike-count">{{ data?.dislikes }}</div>
      </div>
      <div class="action-bar__views">
        <mat-icon>visibility </mat-icon>
        <div class="action-bar__views-count">{{ data?.views }}</div>
      </div>
    </div>

    <div class="post-page__comments-block">
      <div class="post-page__write-comment">
        <div class="post-page__write-comment-title">Write comment:</div>
        <quill-editor
          class="write__quill-editor"
          [placeholder]="'Write your text...'"
          [minLength]="10"
          [maxLength]="700"
          [modules]="editorModules"
          (onContentChanged)="onContentChanged($event)"
        ></quill-editor>
        <app-base-button>Send your comment</app-base-button>
      </div>
      <div class="post-page__comments comments" #comments>
        <div class="comments__header">
          <div class="comments__title">Comments:</div>
          <div class="comments__count">
            <mat-icon>comment</mat-icon>
            <div class="comments__number">
              {{ data?.commentCount }}
            </div>
          </div>
        </div>
        <div class="comments__container">
          <app-comment [nick]="'nick'">Content </app-comment>
          <app-comment [nick]="'bob'">Content BOB</app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
