.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.show-pop-up {
    overflow: hidden;
  }
}

app-header {
  flex: 0 0 auto;
}

main {
  box-sizing: border-box;
  flex: 1 1 auto;
  position: relative;
}

app-footer {
  flex: 0 0 auto;
}
