<div class="profile">
  <div class="profile_column-characteristic">
    <div class="profile__subtititle">Your username:</div>
    <div class="profile__username profile__row">{{ user?.name }}</div>
    <div class="profile__subtititle">Your roles:</div>
    <div class="profile__roles profile__row">
      {{ user?.roles }}
    </div>
    <div class="profile__subtititle">Your email:</div>
    <div class="profile__row">{{ user?.email }}</div>
    <div class="profile__subtititle">Your pronouns:</div>
    <div class="profile__row">he/him</div>
    <div class="profile__subtititle">About:</div>
    <div class="profile__row">null</div>
  </div>
  <div class="profile__column-avatar">
    <div class="profile__row-avatar">Your profile picture</div>
    <div class="profile__avatar">
      <div class="profile__load-avatar">
        <input type="file" id="load" accept="image/*, .png, .jpg, .web," />
        <label for="load"><mat-icon>add_a_photo</mat-icon></label>
      </div>
    </div>
  </div>
</div>
