.profile {
  background: var(--account-bar-back);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 2fr;

  &__subtititle {
    font-size: 35px;
    font-weight: 700;
    padding: 3px;
    padding-top: 0px;
    border-bottom: 2px solid rgb(164, 1, 209);
  }

  &__row {
    font-size: 30px;
    margin: 10px 0px;
  }

  &__column-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__row-avatar {
    font-size: 30px;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  &__load-avatar {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__load-avatar > input[type="file"] {
    display: none;
  }
  &__load-avatar > label {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--load-button);
    box-shadow: 3px 3px 5px rgb(30, 30, 30);
    transition: 0.5s;
  }
  &__load-avatar > label:hover {
    transform: translate(2px, 2px);
    transition: 0.5s;
  }
  &__load-avatar > label:active {
    transform: translate(5px, 5px);
    transition: 0.5s;
  }
}
