<div class="contacts">
  <div class="contacts__container">
    <div class="contacts__circle"></div>
    <div class="contacts__title">Contacts</div>
    <div class="contacts__cards" #contactsCard>
      <div class="contacts__card-container-L" #leftCards>
        <app-card image="gmail-icon.webp" class="contacts__card-L" title="Gmail"
          >Got questions or feedback? Feel free to reach out via email — we’re
          always happy to hear from you.</app-card
        >
      </div>
      <div class="contacts__card-container-R" #rightCards>
        <app-card image="unnamed.png" class="contacts__card-R" title="Github"
          >Check out our project’s source code, contribute, or just star us to
          show support!</app-card
        >
      </div>
      <div class="contacts__card-container-L" #leftCards>
        <app-card image="ds2.jpg" class="contacts__card-L" title="Discord"
          >Join the conversation! Meet other users, ask questions, and be part
          of the growing community.</app-card
        >
      </div>
      <div class="contacts__card-container-R" #rightCards>
        <app-card image="tg-logo.webp" class="contacts__card-R" title="Telegram"
          >Stay up to date with the latest news and updates. Quick posts, direct
          communication.</app-card
        >
      </div>
    </div>
  </div>
</div>
