.contacts {
  padding-top: 195px;
  padding-bottom: 195px;
  max-width: 100%;
  width: 100%;
  min-width: 320px;
  margin-bottom: 25px;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    min-width: 320px;
    margin: 10px auto;
  }

  &__circle {
    position: absolute;
    width: 700px;
    height: 700px;
    background: var(--circle);
    filter: blur(15px);
    z-index: -1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-43%);
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;
  }

  &__cards {
    margin-top: 44px;
    max-width: 100%;
    min-width: 320px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, minmax(320px, 515px));
    gap: 20px;
  }

  &__cards app-card {
    transition: 0.5s;
    position: relative;
  }

  .no-hover {
    pointer-events: none;
  }

  // &__card-container-R,
  // &__card-container-L {
  //   pointer-events: none;
  // }

  &__card-container-R:hover,
  &__card-container-L:hover {
    transition: 0.5s;
    transform: translateX(2px) translateY(2px);
  }

  @media (max-width: 1200px) {
    &__circle {
      display: none;
    }
    &__title {
      justify-content: center;
    }
    &__cards {
      // margin-right: 162px;
      // margin-left: 162px;
      grid-template-columns: repeat(1, auto);
    }
    &__container {
      max-width: 700px;
    }
  }
  @media (max-width: 700px) {
    &__cards {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  @media (max-width: 340px) {
    &__cards {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}
