<div class="articles-wrapper">
  <div class="articles-wrapper__container">
    <div class="articles-wrapper__search">
      <span>Search:</span>
      <div class="articles-wrapper__search-block">
        <input type="text" placeholder="Search..." [(ngModel)]="searchString" />
        <mat-icon class="articles-wrapper__search-icon">search</mat-icon>
      </div>
    </div>
    <div
      class="articles-wrapper__block"
      [ngClass]="{
        vertical: message === 'vertically',
        horizontal: message === 'horizontally'
      }"
    >
      <app-posts
        style="flex: 1"
        [(searchString)]="searchString"
        class="first-item"
      ></app-posts>
      <app-side-menu
        (notify)="handleNotification($event)"
        class="second-item"
      ></app-side-menu>
    </div>
  </div>
</div>
