.account {
  &__wrapper {
    max-width: 100%;
    min-width: 320px;
    position: relative;
  }

  &__container {
    max-width: 1050px;
    min-width: 320px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 0.75fr 3fr;
    grid-auto-flow: column;
    position: relative;
    gap: 15px;
  }

  &__sidebar {
    background: var(--account-bar-back);
    border-radius: 5px;

    .sidebar__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px 0;
      gap: 10px;
    }

    .sidebar__button {
      padding-left: 30px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.2s;
    }

    .sidebar__button:hover {
      background: darkorchid;
      transition: 0.2s;
    }
  }

  &__main {
    background: var(--account-bar-back);
    border-radius: 5px;

    .main__inner {
      box-sizing: border-box;
      margin: 10px 20px;
    }
  }

  @media (max-width: 1200px) {
    &__sidebar {
      .sidebar__inner {
        margin: 10px 20px;
      }

      .sidebar__button {
        padding-left: 10px;
      }
    }
    &__main {
      .main__inner {
        display: flex;
        gap: 30px;
        flex-direction: column;
      }
    }
  }
}
