<div class="account__wrapper">
  <div class="account__container">
    <div class="account__sidebar sidebar">
      <div class="sidebar__inner">
        <div class="sidebar__button">Profile</div>
        <div class="sidebar__button">Notifications</div>
        <div class="sidebar__button">Accessibility</div>
        <!-- <div class="sidebar__button">Admin Panel</div> -->
        <div class="sidebar__button">Sign Out</div>
      </div>
    </div>
    <div class="account__main main">
      <div class="main__inner">
        <div class="main_column-characteristic">
          <div class="main__subtititle">Your username:</div>
          <div class="main__username main__row">Jaja</div>
          <div class="main__subtititle">Your roles:</div>
          <div class="main__roles main__row">
            <div>User</div>
            <div>Admin</div>
          </div>
          <div class="main__subtititle">Your public email:</div>
          <div class="main__row">egtfggfgmail.com</div>
          <div class="main__subtititle">Your pronouns:</div>
          <div class="main__row">he/him</div>
        </div>
        <div class="main__column-avatar">
          <div class="main__row-avatar">Your profile picture</div>
          <div class="main__avatar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
