<div class="write__container">
  <div class="write__add-title">
    <div class="write__label">Add title</div>
    <input type="text" placeholder="Add title" class="write__input" />
  </div>
  <div class="write__add-preview">
    <div class="write__label">Add preview</div>
    <input
      type="file"
      id="input-id"
      (change)="onFileSelected($event)"
      accept="image/*, .png, .jpg, .web,"
    />
    <label for="input-id">Add</label>
    <div>
      @if (imageUrl) {
      <img
        [src]="imageUrl"
        style="max-width: 300px; max-height: 500px; margin-top: 10px"
      />
      }
    </div>
  </div>
  <div class="write__choose-category">
    <div class="write__label">Choose a category</div>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        @for (category of categories; track category) {
        <mat-option [value]="category.value">{{
          category.viewValue
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="write__text">
    <div class="write__label">Add text</div>
    <quill-editor
      class="write__quill-editor"
      [placeholder]="'Write your text...'"
      [minLength]="40"
      [maxLength]="1500"
      [modules]="editorModules"
      (onContentChanged)="onContentChanged($event)"
    ></quill-editor>
  </div>
</div>
