::ng-deep .ql-toolbar {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ccc !important;
}

::ng-deep .ql-editor {
  background: #fff !important;
  color: #000 !important;
  min-height: 200px;
  padding: 10px;
  border: 1px solid #ccc !important;
}

::ng-deep .ql-container {
  border: 1px solid #ccc !important;
}

.write {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__label {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__input {
    min-width: 320px;
    height: 30px;
    padding: 3px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }

  &__add-preview > input[type="file"] {
    display: none;
  }

  &__add-preview > label {
    font-size: 23px;
    padding: 5px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 5px;
    cursor: pointer;
    background-color: var(--file-input);
  }

  &__quill-editor {
    width: 100%;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 0 30px 0;
  }

  &__created {
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 30px;
    color: greenyellow;
  }
}

img {
  padding: 15px;
  margin: 10px 0;
  background-color: rgba(57, 0, 78, 0.467);
  border: 2px solid rgba(111, 0, 151, 0.6);
  box-shadow: 0 0 5px rgba(111, 0, 151, 0.8);
  border-radius: 5px;
}
