<div class="main">
  <div class="main__container">
    <div class="main__text-block">
      <div class="main__title">
        Welcome friend <span><mat-icon>waving_hand</mat-icon></span>
      </div>
      <div class="main__block">
        <div class="main__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo rem
          consectetur distinctio temporibus, debitis, assumenda voluptatem
          quaerat exercitationem labore quae repellat officiis ipsam veritatis
          sint iure quasi, dolorum delectus nostrum.
        </div>
        <div class="main__button" [routerLink]="['/articles']">
          Articles <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div>
    <div class="main__image-element">
      <app-bulb></app-bulb>
    </div>
  </div>
</div>
