<div class="short-post" [routerLink]="['/article', data.id]">
  <div class="short-post__header">
    <div class="short-post__img">
      <img [src]="img" alt="" width="200" height="200" />
    </div>
    <div class="short-post__title">{{ data.title }}</div>
  </div>
  <div class="short-post__body">
    <div class="short-post__stats">Stats</div>
    <div class="short-post__column">
      <div class="short-post__like">Likes: {{ data.likes }}</div>
      <div class="short-post__dislike">Dislikes: {{ data.dislikes }}</div>
      <div class="short-post__views">Views: {{ data.views }}</div>
      <div class="short-post__comments">Comments: {{ data.commentCount }}</div>
    </div>
    @if(id) {
    <div class="short-post__delete-button" (click)="handleClick($event)">
      Delete
    </div>
    }
  </div>
</div>
