.short-post {
  background-color: rgba(50, 0, 111, 0.5);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  gap: 15px;
  box-shadow: 0 0 5px rgba(115, 0, 255, 0.7);
  border: 1px solid rgba(115, 0, 255, 0.7);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

  &__header {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  &__title {
    max-width: 340px;
    min-width: 200px;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__body {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  &__stats {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  &__column {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  &__delete-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: rgba(226, 0, 0, 0.8);
    box-shadow: 0 0 7px rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }

  &__delete-button:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

img {
  max-width: 350px;
  min-width: 200px;
  height: 200px;
}
