<div class="account__wrapper">
  <div class="account__container">
    <div class="account__sidebar sidebar">
      <div class="sidebar__inner">
        <div class="sidebar__button" [routerLink]="['/account/profile']">
          Profile
        </div>
        <div class="sidebar__button" [routerLink]="['/account/notifications']">
          Notifications
        </div>
        <div class="sidebar__button" [routerLink]="['/account/accessability']">
          Accessibility
        </div>
        <div class="sidebar__button" [routerLink]="['/account/write-article']">
          Write an article
        </div>
        <!-- <div class="sidebar__button">Admin Panel</div> -->
        <div class="sidebar__button" (click)="changeLogoutState()">Log Out</div>
      </div>
    </div>
    <div class="account__main main">
      <app-logout
        [class.logout]="this.logoutState()"
        (onChange)="changeLogoutState()"
      ></app-logout>
      <div class="main__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
