<div class="account__wrapper">
  <div class="account__container">
    <div class="account__sidebar sidebar">
      <div class="sidebar__inner">
        <div
          class="sidebar__button"
          [routerLink]="['/account/profile']"
          routerLinkActive="active"
        >
          Profile
        </div>
        <!-- <div
          class="sidebar__button"
          [routerLink]="['/account/notifications']"
          routerLinkActive="active"
        >
          Notifications
        </div>
        <div
          class="sidebar__button"
          [routerLink]="['/account/accessability']"
          routerLinkActive="active"
        >
          Accessibility
        </div> -->
        <div
          class="sidebar__button"
          [routerLink]="['/account/write-article']"
          routerLinkActive="active"
        >
          Write an article
        </div>
        <div
          class="sidebar__button"
          [routerLink]="['/account/user-article']"
          routerLinkActive="active"
        >
          Your articles
        </div>
        <!-- <div class="sidebar__button">Admin Panel</div> -->
        <div class="sidebar__button" (click)="changeLogoutState()">Log Out</div>
        <div class="sidebar__button warning" (click)="changeLogoutState()">
          Delete Account
        </div>
      </div>
    </div>
    <div class="account__main main">
      <app-logout
        [class.logout]="this.logoutState()"
        (onChange)="changeLogoutState()"
      ></app-logout>
      <div class="main__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
