.account {
  &__wrapper {
    max-width: 100%;
    min-width: 320px;
    position: relative;
  }

  &__container {
    max-width: 1050px;
    min-width: 320px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 0.75fr 3fr;
    grid-auto-flow: column;
    position: relative;
    gap: 15px;
  }

  &__sidebar {
    background: var(--account-bar-back);
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(60, 5, 136, 0.8);
    border-radius: 5px;
    min-height: 500px;

    .sidebar__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px 0;
      gap: 10px;
    }

    .sidebar__button {
      box-sizing: border-box;
      margin: 0 5px;
      border-radius: 5px;
      padding: 5px 0;
      padding-left: 20px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.2s;
    }

    .sidebar__button:hover {
      background: rgba(153, 50, 204, 0.4);
      border: 1px solid rgba(153, 50, 204, 0.6);
      box-shadow: 0 0 5px rgba(153, 50, 204, 0.4);
      margin: 0 3px;
      transition: 0.4s;
    }

    .active {
      background: rgba(153, 50, 204, 0.4);
      border: 1px solid rgba(153, 50, 204, 0.6);
      box-shadow: 0 0 5px rgba(153, 50, 204, 0.4);
      margin: 0 3px;
      transition: 0.4s;
    }
  }

  &__main {
    background: var(--account-bar-back);
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(60, 5, 136, 0.8);

    .main__inner {
      box-sizing: border-box;
      margin: 10px 20px;
    }
  }

  @media (max-width: 1200px) {
    &__sidebar {
      .sidebar__inner {
        margin: 10px 20px;
      }

      .sidebar__button {
        padding-left: 10px;
      }
    }
    &__main {
      .main__inner {
        display: flex;
        gap: 30px;
        flex-direction: column;
      }
    }
  }
}

.logout {
  display: none;
}

.delete {
  display: none;
}

.warning {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
  display: flex;
  align-items: center;
  padding: 5px 0 !important;
  justify-content: center;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.7) !important;

  &:hover {
    background-color: rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 0 7px rgb(255, 0, 0) !important;
    margin: 0 !important;
  }
}
