<div class="profile">
  <div class="profile_column-characteristic">
    <div class="profile__subtititle">Your username:</div>
    <div class="profile__username profile__row">Jaja</div>
    <div class="profile__subtititle">Your roles:</div>
    <div class="profile__roles profile__row">
      <div>User</div>
      <div>Admin</div>
    </div>
    <div class="profile__subtititle">Your public email:</div>
    <div class="profile__row">egtfggfgmail.com</div>
    <div class="profile__subtititle">Your pronouns:</div>
    <div class="profile__row">he/him</div>
  </div>
  <div class="profile__column-avatar">
    <div class="profile__row-avatar">Your profile picture</div>
    <div class="profile__avatar"></div>
  </div>
</div>
