body[data-theme="light"] {
  --text-color: black;
  --background-color: white;
}
body[data-theme="dark"] {
  --text-color: white;
  --background-color: black;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}
