// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$PetPn-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($PetPn-theme);
  --text-color: white;
  --background-color: #7e64a3;
  --shadow-head: #5e2e8c;
  --head-back: #a06ee2e6;
  --header-text-color: rgb(74, 74, 74);
  --text-gradient: -webkit-linear-gradient(1800deg, #320f85 20%, #5e2e8c 70%);
  --gradient: linear-gradient(90deg, #4215ab 20%, #763cac 70%);
  --shadow-for-main: linear-gradient(
    180deg,
    rgba(50, 15, 133, 1) 40%,
    #a270e2e6 70%
  );
  --main-gradient-back: #7e64a3;
  --main-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 2%,
    #9766d7e6 40%,
    #a06ee2e6 90%
  );
  --line-gradient: linear-gradient(
    to right,
    white 40%,
    transparent 40%,
    transparent 60%,
    white 60%
  );
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($PetPn-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($PetPn-theme);
body[data-theme="light"] {
  --text-color: #333333;
  --background-color: #9766d7;
  --shadow-head: #5e2e8c;
  --head-back: rgba(160, 110, 226, 0.9);
  --text-gradient: -webkit-linear-gradient(1800deg, #4615b9 20%, #61259a 70%);
  --header-text-color: rgb(79, 79, 79);
  --gradient: linear-gradient(90deg, #4215ab 10%, #763cac 70%, #9154e1e6 99%);
  --shadow-for-main: linear-gradient(
    180deg,
    rgba(50, 15, 133, 1) 40%,
    #a270e2e6 70%
  );
  --line-gradient: linear-gradient(
    to right,
    black 40%,
    transparent 40%,
    transparent 60%,
    black 60%
  );
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}
body[data-theme="dark"] {
  --text-color: white;
  --background-color: #11071f;
  --shadow-head: rgb(74, 1, 98);
  --head-back: rgb(26, 11, 46, 0.9);
  --header-text-color: rgb(184, 184, 184);
  --text-gradient: -webkit-linear-gradient(1800deg, #763cac 20%, #320f85 70%);
  --gradient: linear-gradient(90deg, #763cac 20%, #320f85 70%);
  --main-gradient-back: rgb(50, 15, 133);
  --main-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 2%,
    rgba(17, 7, 31, 1) 40%
  );
  --shadow-for-main: linear-gradient(
    180deg,
    rgba(50, 15, 133, 1) 40%,
    rgba(17, 7, 31, 1) 70%
  );
  --line-gradient: linear-gradient(
    to right,
    white 40%,
    transparent 40%,
    transparent 60%,
    white 60%
  );
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  // transition: 0.5s;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  user-select: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
