// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme object.
$PetPn-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($PetPn-theme);
  & {
    --text-color: white;
    --background-color: #7e64a3;
    --shadow-head: #5e2e8c;
    --head-back: #a06ee2e6;
    --header-text-color: rgb(74, 74, 74);
    --text-gradient: -webkit-linear-gradient(1800deg, #320f85 20%, #5e2e8c 70%);
    --card-button: -webkit-linear-gradient(1800deg, #59208f 20%, #250d5f 70%);
    --circle: radial-gradient(
      circle,
      rgb(76, 6, 141) 0%,
      rgba(25, 2, 58, 0) 70%
    );
    --gradient: linear-gradient(90deg, #4215ab 20%, #763cac 70%);
    --shadow-for-main: linear-gradient(
      180deg,
      rgba(50, 15, 133, 1) 40%,
      #a270e2e6 70%
    );
    --main-gradient-back: #7e64a3;
    --main-gradient: linear-gradient(
      360deg,
      rgba(50, 15, 133, 1) 2%,
      #9766d7e6 40%,
      #a06ee2e6 90%
    );
    --line-gradient: linear-gradient(
      to right,
      white 40%,
      transparent 40%,
      transparent 60%,
      white 60%
    );
    --mask-gradient: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    --card-back: linear-gradient(
      100deg,
      #8447d4e6 7%,
      #7130ad 54%,
      rgb(56, 2, 131) 80%
    );
    --card-shadow: rgb(91, 0, 203);
    --footer-gradient: linear-gradient(
      360deg,
      rgba(50, 15, 133, 1) 2%,
      #9766d7e6 40%
    );
    --footer-button: rgb(83, 13, 167);
    --load-button: rgb(83, 13, 167);
    --file-input: rgb(83, 13, 167);
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($PetPn-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($PetPn-theme);
body[data-theme="light"] {
  --text-color: #333333;
  --background-color: #9766d7;
  --shadow-head: #5e2e8c;
  --head-back: rgba(160, 110, 226, 0.9);
  --text-gradient: -webkit-linear-gradient(1800deg, #4615b9 20%, #61259a 70%);
  --card-button: -webkit-linear-gradient(1800deg, #57099f 20%, #260572 70%);
  --header-text-color: rgb(79, 79, 79);
  --gradient: linear-gradient(90deg, #4215ab 10%, #763cac 70%, #9154e1e6 99%);
  --circle: radial-gradient(circle, rgb(49, 0, 96) 20%, rgba(29, 1, 55, 0) 70%);
  --main-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 2%,
    #9766d7e6 40%,
    #a06ee2e6 90%
  );
  --shadow-for-main: linear-gradient(
    180deg,
    rgba(50, 15, 133, 1) 40%,
    #9766d7 70%
  );
  --line-gradient: linear-gradient(
    to right,
    black 40%,
    transparent 40%,
    transparent 60%,
    black 60%
  );
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  --card-back: linear-gradient(
    100deg,
    #8447d4e6 7%,
    #7130ad 54%,
    rgb(56, 2, 131) 80%
  );
  --card-shadow: #320f85;
  --footer-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 10%,
    #9766d7e6 50%
  );
}
body[data-theme="dark"] {
  --text-color: white;
  --background-color: #11071f;
  --shadow-head: rgb(74, 1, 98);
  --head-back: rgb(26, 11, 46, 0.9);
  --header-text-color: rgb(184, 184, 184);
  --text-gradient: -webkit-linear-gradient(1800deg, #763cac 20%, #320f85 70%);
  --card-button: -webkit-linear-gradient(1800deg, #763cac 20%, #320f85 70%);
  --base-button: -webkit-linear-gradient(1800deg, #763cac 20%, #320f85 70%);
  --base-button-success: rgb(0, 200, 0);
  --base-button-warning: red;
  --circle: radial-gradient(
    circle,
    rgba(118, 60, 172, 1) 0%,
    rgba(38, 16, 69, 0) 70%
  );
  --gradient: linear-gradient(90deg, #763cac 20%, #320f85 70%);
  --main-gradient-back: rgb(50, 15, 133);
  --main-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 2%,
    rgba(17, 7, 31, 1) 40%
  );
  --shadow-for-main: linear-gradient(
    180deg,
    rgba(50, 15, 133, 1) 40%,
    rgba(17, 7, 31, 1) 70%
  );
  --line-gradient: linear-gradient(
    to right,
    white 40%,
    transparent 40%,
    transparent 60%,
    white 60%
  );
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  --card-back: linear-gradient(
    100deg,
    rgba(19, 4, 40, 1) 7%,
    rgba(37, 16, 67, 1) 54%,
    rgba(56, 18, 109, 1) 80%
  );
  --card-shadow: rgb(149, 0, 255);
  --footer-gradient: linear-gradient(
    360deg,
    rgba(50, 15, 133, 1) 10%,
    rgba(17, 7, 31, 1) 50%
  );
  --account-bar-back: linear-gradient(
    100deg,
    rgb(41, 3, 93) 6%,
    rgb(60, 5, 136) 54%,
    rgb(64, 4, 138) 80%
  );
  --plague-background: linear-gradient(to bottom, #1a1a40, #24246d);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  user-select: none;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #763cac;
}

::-webkit-scrollbar-thumb {
  background: #361584;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #280c6a;
}

a {
  color: white;
  text-decoration: none;
}

main {
  position: relative;
}
