<div
  class="posts"
  [ngClass]="{
    vertical: filterDisplay === 'Vertically',
    horizontal: filterDisplay === 'Horizontally'
  }"
>
  <div class="posts__container">
    @if(isLoading) {
    <div class="posts__loading">Loading...</div>
    } @else { @if (isEmpty === true) {
    <div class="posts__loading">Empty</div>
    } @else { @for (item of data; track item.id) {
    <app-post [post]="item"></app-post>
    } } @if(pageCountArray.length > 1) {
    <div class="posts__pagination">
      @if (rangePage?.firstPage) {
      <span
        (click)="clickOnPageNumber(1)"
        class="posts__pagination-button fal-button"
        >First page</span
      >
      } @if (rangePage?.leftDots) {
      <span
        (click)="clickOnPageNumber(leftNumber - 1)"
        class="posts__pagination-button"
        >...</span
      >
      } @for (item of rangePage?.rangeWithDots; track item) {
      <div
        class="posts__pagination-button"
        (click)="clickOnPageNumber(item)"
        [class.active]="currentPage === item"
      >
        {{ item }}
      </div>
      } @if (rangePage?.rightDots) {
      <span
        (click)="clickOnPageNumber(rightNumber + 1)"
        class="posts__pagination-button"
        >...</span
      >
      } @if (rangePage?.lastPage) {
      <span
        (click)="clickOnPageNumber(pageCount)"
        class="posts__pagination-button fal-button"
        >Last page</span
      >
      }
    </div>
    }}
  </div>
</div>
