<div class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <span class="footer__logo-title"> NE </span>
    </div>
    <div class="footer__lists">
      <ul class="footer__list">
        <div class="footer__list-title">About</div>
        <li class="footer__list-item">About Page</li>
      </ul>
      <ul class="footer__list">
        <div class="footer__list-title">More</div>
        <li class="footer__list-item">More Page</li>
      </ul>
    </div>
  </div>
</div>
